/* TaskList.css */

.task-list {
    padding: 30px;
    box-sizing: border-box;
}

.task-list h3 {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.task-list h3 svg {
    margin-right: 10px;
    color: #ff6f61;
}

.task-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-card:hover {
    box-shadow: 0 4px 8px rgba(0.3, 0.3, 0.3, 0.3);
}

.task-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.task-card h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.task-card #status_details {
    margin: 5px 0 0 0;
    font-size: 1rem;
    color: #555;
}

.status-dropdown {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    cursor: pointer;
}

/* Priority Styles */
.priority-low {
    color: #28a745;
}

.priority-medium {
    color: #ffc107;
}

.priority-high {
    color: #dc3545;
}